
# 1. انسخ هذا الملف وقم بتغيير اسمه إلى .env
# 2. ضع مفتاح جوجل الخاص بك بدلاً من النص الموجود أدناه
# 3. احصل على المفتاح من هنا: https://aistudio.google.com/app/apikey

API_KEY=AIzaSyYourGoogleApiKeyHere123456

# إعدادات قاعدة البيانات (Supabase) للتقييمات
VITE_SUPABASE_URL=https://scdmcegtzhouqkmibdci.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjZG1jZWd0emhvdXFrbWliZGNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4OTk0MTAsImV4cCI6MjA5NTQ3NTQxMH0.O24osPByW3J8FDGyZnWaKN6lvd5tJGOH_0Enu-mfaaI

# إعدادات تخزين الصور (Cloudinary)
VITE_CLOUDINARY_CLOUD_NAME=dxzqizvzw
VITE_CLOUDINARY_UPLOAD_PRESET=v4otwlwv
